body {
  margin: 0;
  font-family: 'Lato' sans-serif; 
  font-weight: 300; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0, 0.3)
}

code {
  font-family: Lato,aXSXX Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
